<bp-breadcrumbs>
  <bp-breadcrumb link="funderOrg.overview.index" no-separator="true">Overview</bp-breadcrumb>
</bp-breadcrumbs>

<div class="two-column-table">
  <form name="$ctrl.form" ng-submit="$ctrl.updateFunderOrganization()" novalidate>

    <div class="row">
      <div class="small-3 columns">
        <label for="name" class="inline right">Funder Name *</label>
      </div>
      <div class="small-9 medium-4 columns end">
        <input type="text" ng-model="$ctrl.funderOrganization.name"
        name="name" placeholder="Name"
        bp-field-class="$ctrl.form.name" bp-server-error required>
        <field-errors input-field="$ctrl.form.name"></field-errors>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <label for="service_fee" class="inline right"
          bp-field-class="$ctrl.form.service_fee">Service Fee *</label>
      </div>
      <div class="small-9 medium-9 columns end">
        <div class="row">
          <div class="small-2 columns">
            <input type="text"
            ng-model="$ctrl.funderOrganization.service_fee" name="service_fee"
            placeholder="Fee"
            bp-field-class="$ctrl.form.service_fee" bp-server-error required>
          </div>
          <div class="show-for-medium-up small-10  columns end">
            <span class="hint">% per material/labor transaction</span>
          </div>
        </div>
        <field-errors input-field="$ctrl.form.service_fee"></field-errors>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-3 medium-offset-3 columns">
        <input type="submit" name="submit" value="Update"
        class="button uppercase small small-expand" ng-disabled="$ctrl.form.$invalid">
      </div>
    </div>
  </div>
</div>
