<div class="row" bp-field-class="$ctrl.form[$ctrl.name]">
  <bp-left-column inline>{{ $ctrl.label }}</bp-left-column>
  <bp-right-column input-column>
  <input type="password" ng-model="$ctrl.model" name="{{ $ctrl.name }}"
  placeholder="{{ $ctrl.label }}" bp-valid-password>
  <field-errors input-field="$ctrl.form[$ctrl.name]"></field-errors>

  <div class="hint">
    <ul>
      <li>must be at least 8 characters</li>
      <li>must include at least 1 uppercase letter</li>
      <li>must include at least 1 lowercase letter</li>
      <li>must include at least 1 special character (ex ‘%’)</li>
      <li>must include at least 1 number</li>
    </ul>
  </div>
  </bp-right-column>
</div>

<div class="row" bp-field-class="$ctrl.form[$ctrl.passwordConfirmationName]">
  <bp-left-column inline>Re-type {{ $ctrl.label }}</bp-left-column>
  <bp-right-column input-column>
  <input type="password" ng-model="$ctrl.passwordConfirmationValue" name="{{ $ctrl.passwordConfirmationName }}"
  placeholder="Re-type {{ $ctrl.label }}" must-match="$ctrl.model">
  <field-errors input-field="$ctrl.form[$ctrl.passwordConfirmationName]"></field-errors>
  </bp-right-column>
</div>
