<bp-breadcrumbs>
  <bp-breadcrumb link="project.members.index">Members</bp-breadcrumb>
  <bp-breadcrumb>Add Service Provider</bp-breadcrumb>
</bp-breadcrumbs>

<div class="two-column-table">
  <form name="$ctrl.form" ng-submit="$ctrl.addServiceProvider()" novalidate>

    <bp-base-errors form-model="$ctrl.form"></bp-base-errors>

    <bp-two-column-row bp-field-class="$ctrl.form.first_name" label="First Name *">
      <right-content>
        <bp-text-input-with-errors
          required="true"
          field-model="$ctrl.form.first_name"
          name="first_name"
          model="$ctrl.invite.first_name"
          placeholder="First Name"></bp-text-input-with-errors>
      </right-content>
    </bp-two-column-row>

    <bp-two-column-row bp-field-class="$ctrl.form.last_name" label="Last Name *">
      <right-content>
        <bp-text-input-with-errors
          required="true"
          field-model="$ctrl.form.last_name"
          name="last_name"
          model="$ctrl.invite.last_name"
          placeholder="Last Name"></bp-text-input-with-errors>
      </right-content>
    </bp-two-column-row>

    <bp-two-column-row bp-field-class="$ctrl.form.email" label="Email *">
      <right-content>
        <bp-email-input-with-errors
          required="true"
          field-model="$ctrl.form.email"
          name="email"
          model="$ctrl.invite.email"
          placeholder="Email"></bp-email-input-with-errors>
      </right-content>
    </bp-two-column-row>

    <bp-submit-row>
      <input type="submit" name="submit" value="Add Service Provider" class="button small small-expand uppercase invite-submit-button" ng-disabled="$ctrl.form.$invalid" ng-show="!$ctrl.showUserExistsDialog">
    </bp-submit-row>
  </form>
</div>
