<div class="row" bp-field-class="$ctrl.form[$ctrl.name]">
  <bp-left-column inline>{{ $ctrl.label }}</bp-left-column>

  <div class="small-9 columns">
    <div class="row">
      <div class="small-3 columns">
        <select name="{{ $ctrl.name }}_month" ng-model="$ctrl.datePicker.month" ng-change="$ctrl.dateChanged()" required>
          <option value="">Month</option>
          <option ng-repeat="month in $ctrl.monthOptions">{{ month }}</option>
        </select>
      </div>
      <div class="small-2 columns">
        <select name="{{ $ctrl.name }}_day" ng-model="$ctrl.datePicker.day" ng-change="$ctrl.dateChanged()" required>
          <option value="">Day</option>
          <option ng-repeat="day in $ctrl.dayOptions">{{ day }}</option>
        </select>
      </div>
      <div class="small-2 columns end">
        <select name="{{ $ctrl.name }}_year" ng-model="$ctrl.datePicker.year" ng-change="$ctrl.dateChanged()" required>
          <option value="">Year</option>
          <option ng-repeat="year in $ctrl.yearOptions">{{ year }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
