<form name="$ctrl.form" ng-submit="$ctrl.sendPasswordResetLink()" novalidate>
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <label bp-field-class="$ctrl.form.email">Email *
        <input bp-field-class="$ctrl.form.email" type="email"
        ng-model="$ctrl.user.email"
        name="email" placeholder="Email" required>
      </label>
      <field-errors input-field="$ctrl.form.email"></field-errors>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <input type="submit" name="submit" value="Send Password Reset Link" class="button small small-expand uppercase" ng-disabled="$ctrl.form.$invalid">
    </div>
  </div>
</form>
