<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="small-6 large-4 columns" ng-cloak>
        <p>
        &copy; {{$ctrl.date | date:'yyyy'}} BuildPay.
        </p>
      </div>
      <div class="small-6 large-4 columns">
        <p>
        105 Jordan Road<br>
        Troy, New York 12180
        </p>
      </div>
      <div class="large-4 columns">
        <p class="text-right">
        <a href="mailto:info@gobuildpay.com">info@gobuildpay.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
